<!Doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta charset="UTF-8">
  <title>PDIS - Real Time Subtitle</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/switch.css">

</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link " style="color:white;font-weight:bold;" href="/">PDIS Live
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
    </ul>
  </nav>

  <div class="container">

    <div class="row" style="padding-top:30px;">
      <div class="col-lg-12">
        <div class="messageLog">
          <h1 align="center" id="title">
            <%= title %>
          </h1>
        </div>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col-lg-4">
        <div>Dept. Display</div>
        <div class="material-switch pull-right">
          <input id="DepartdisplaySwitch" onclick="BindListData()" name="displaySwitch" type="checkbox" <%=DepartStatus? "checked"
            : "" %>/>
          <label for="DepartdisplaySwitch" class="label-primary"></label>
        </div>
      </div>
      <div class="col-lg-4">
        <div>Name Display</div>
        <div class="material-switch pull-right">
          <input id="NamedisplaySwitch" onclick="BindListData()" name="displaySwitch" type="checkbox" <%=NameStatus? "checked" : ""
            %>/>
          <label for="NamedisplaySwitch" class="label-primary"></label>
        </div>
      </div>
      <div class="col-lg-4">
        <div>Job Display</div>
        <div class="material-switch pull-right">
          <input id="JobdisplaySwitch" onclick="BindListData()" name="displaySwitch" type="checkbox" <%=JobStatus? "checked" : "" %>/>
          <label for="JobdisplaySwitch" class="label-primary"></label>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-12">
        <button type='button' id="button_EditPosition" style='float:left;' onClick='draggableDisplay()' class='btn btn-primary '>編輯位置</button>


        <form action="/clear/position" id="clearposition" encType="multipart/form-data" method="post" style="float: right;"  >
          <input type="submit" value="清除位置" onclick="return confirm('Are you sure to delete?')" class="btn btn-warning">
        </form>
      </div>



    </div>




    <link rel="stylesheet" href="stylesheets/micswitch.css">

    <div id="draggble_panel">
      <div class="row">
        <div class="col-xs-12">

          <div class="container-draw" id="container-draw">


          </div>
        </div>
      </div>

      <div class="row" id="button-array">
      </div>
    </div>

    <!-- 錄音開關 -->
    <div class="row" style=" bottom:65px;right: 30px; position: fixed;">
      <div class="col-xs-12">
        <button id="micswitchbuttom" class="btn btn-secondary micswitch" onclick='micswitch()'>
          <div id='micicon' class="fa-microphone-slash"> </div>
        </button>
      </div>
    </div>

    <div class="row" style=" top:65px;left: -25px; position: fixed;">
      <div class="col-lg-12 ">
        <ul>
          <li class="list-group-item" id="display_Switch">
            <div class="row">
              <div class="col-lg-12 ">
                <div> Display</div>
                <button type="button" class="btn btn-sm btn-danger" onclick="$('#displaySwitch').click();changeShowStatus()"> Ctrl + `</button>

              </div>
              <div class="col-lg-12 ">

                <div class="material-switch pull-right">
                  <input id="displaySwitch" onclick="changeShowStatus()" name="displaySwitch" type="checkbox" <%=status? "checked" : "" %>/>
                  <label for="displaySwitch" class="label-primary"></label>
                </div>
              </div>

            </div>


          </li>
        </ul>
      </div>
    </div>


  
    <div class="row" id="FilePanel" style="padding-bottom:100px">
        <hr>
      <div class="col-lg-6">
        <h1>Logo upload</h1>
        <a href="vTaiwanLogo.png" charset="UTF-8" target="_bland">vTaiwan Logo</a>
        <form action="/upload/image" id="upload" encType="multipart/form-data" method="post">
          <input type="file" name="pic" accept="image/*">
          <input type="submit" class="btn btn-danger">
        </form>
      </div>
      <div class="col-lg-6">
        <h1>JSON upload</h1>
        <a href="example.json" charset="UTF-8" target="_bland">example</a>
        <br>

        <form action="/upload/json" id="upload" encType="multipart/form-data" method="post" >
          <input type="file" name="json" accept="json/*">
          <input type="submit" class="btn btn-danger">
        </form>



      </div>

    </div>
    <!--<h1>List<h1>
    <div>
        <textarea>

        </textarea>
    </div>
    -->

    <input class="inputMessage" id="inputField" placeholder="請在此輸入字幕..." />
  </div>
  <%- include include.ejs %>
  <%# <script src="subtitle.js"></script>%>
</body>

</html>
