<!Doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PDIS - Real Time Subtitle</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div id="navBar"></div>
  <div class="container">

    <div class="row" style="padding-top:30px;">
      <div class="col-lg-12">
        <div class="messageLog">
          <h1 align="center" id="title">
            <%= title %>
          </h1>
        </div>
      </div>

    </div>

    <hr>


    <div id="setting-switch"></div>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        <button type='button' id="button_EditPosition" style='float:left;' onClick='draggableDisplay()' class='btn btn-primary '>編輯位置</button>
      </div>
    </div>
    <div id="draggble_panel">
      <div class="row">
        <div class="col-xs-12">
          <div class="container-draw" id="container-draw">
          </div>
        </div>
      </div>

      <div class="row" id="button-array">
      </div>
    </div>

    <div class="row" style=" top:45%;left: -25px; position: fixed;">
      <div class="col-lg-12 ">
        <ul>
          <li class="list-group-item" id="display_Switch">



          </li>
        </ul>
      </div>
    </div>


    <hr>
    <div class="row" style="padding-bottom:100px">
      <div class="col-lg-6">
        <h1>Logo upload</h1>
        <a href="vTaiwanLogo.png" charset="UTF-8" target="_bland">vTaiwan Logo</a>
        <form action="/upload/image" id="upload" encType="multipart/form-data" method="post">
          <input type="file" name="pic" accept="image/*">
          <input type="submit" class="btn btn-danger">
        </form>
      </div>
      <div class="col-lg-6">
        <h1>JSON upload</h1>
        <a href="example.json" charset="UTF-8" target="_bland">example</a>
        <form action="/upload/json" id="upload" encType="multipart/form-data" method="post">
          <input type="file" name="json" accept="json/*">
          <input type="submit" class="btn btn-danger">
        </form>


      </div>
    </div>
    <!--<h1>List<h1>
    <div>
        <textarea>

        </textarea>
    </div>
    -->

    <input class="inputMessage" id="inputField" placeholder="請在此輸入字幕..." />
  </div>
    <script>
    var JobStatus = <%= JobStatus%>;
    var NameStatus = <%= NameStatus%>;
    var DepartStatus = <%= DepartStatus%>;
    </script>
  <%- include include.ejs %>
</body>

</html>
