<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PDIS - Real Time Subtitle</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
   <!--  <ul class="pages" style="display:none;">
    <div class="message">
    <h1 align="center" style="position: relative;left: 50px;" id="title">
        <%= title %>
      </h1>
    </div>
  </ul>
   -->

  <div>

    <div id='textbg'  <%= titlealign=="vertical"?"class=verticaltextbox_bg": "class=textbox_bg" %>  <%= status?"": 'style="display:none;"' %>>
      <img class="img_bg" src="upload/back.png" <%= titlealign=="vertical"?"style=display:none": "style=height:92px;float:left;border-radius:50%;" %>>
     
      <div id="title" style="padding: 25px;height: auto; float: left; word-break: break-all;font-family:標楷體;">
       <%= title %>
      </div>

    </div>
  </div>
    <%- include include.ejs %>
</body>

</html>
